@import '../../node_modules/easymde/dist/easymde.min.css';

.create {
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 20px;

  &__cover {
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;

    & input {
      visibility: hidden;
      position: absolute;
      z-index: -1;
    }
    &--delete {
      display: inline-block;
      width: auto;
      margin-bottom: 30px;
    }
  }
  &__heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__tags {
    line-height: 1.5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__publish {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
  &__cancel {
    display: inline-block;
    width: auto;
    cursor: pointer;
    color: #1976d2;
  }
}

.editor-toolbar {
  display: flex;
  overflow: auto;
}
